

@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  color-scheme: light;
}

/* إلغاء تأثير الثيم الليلي الخاص بالجهاز نهائيًا */
html, body {
  background-color: #f8fafc !important;
  color: #0f172a !important;
  color-scheme: light !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}